body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 380vh;
    background-color: #f0f0f0;
}

main {
    width: 90%;
    height: 300vh;
    margin: 20px auto;
    padding: 1em;
    height: 350vh;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background: linear-gradient(to right, #ff6666, #ff3333);
    color: #fff;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: false;
}

h2.subtitulo {
    font-weight: normal;
    margin-top:;
}

nav {
    background-color: #ffe6e6;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav ul {
    list-style: none;
    margin: 0;
    width: 90%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

nav ul li {
    margin: 12px;

}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #6fb936;
}

nav li {
    margin: 20px 0; 
}

nav a {
    text-decoration: none;
    padding: 10px;
    width: 60%;
    background-color: #4CAF50;
    color: #fff;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

nav {
    animation: fadeInDown 0.5s ease;
}

#crypto-content {
    padding: 20px;
}

footer {
    background: linear-gradient(to right, #ff6666, #ff3333);
    color: #fff;
    text-align: center;
    padding: 0.5em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 768px) {
    footer {
        width: 100%;
    }
}

#crypto-content button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#crypto-content button:hover {
    background-color: #2980b9;
}

.small-chart-container {
    margin-top: 20px;
    text-align: center;
}

.small-chart-container div {
    margin-top: 10px;
    font-size: 14px;
}
