/* Estilos para el calendario económico */
body, html {
    margin: 0;
    padding: 0;
    height: 1500px;
}

header {
    background: linear-gradient(to right, #ff6666, #ff3333);
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #fff;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    padding: 10px;
    background: linear-gradient(to right, #ff6666, #ff3333);
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #45a049;
}

.tradingview-widget-container {
    width: 95%;
    height: 60vh;
    margin: 0 auto;
    margin-top: 20px;
}


footer {
    background: linear-gradient(to right, #ff9999, #ff6666); /* Cambio a un gradiente en lugar de un color sólido */
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}