body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 360vh;
    width: 100%;
    max-width: 100%;
    background-color: #f0f0f0;
  }
  
  header {
    background: linear-gradient(to right, #ff6666, #ff3333);
    color: #fff;
    text-align: center;
    padding: 1em 0;
    margin-bottom: 20px;
}

  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background: #00b118;
    padding: 10px 5px;
    margin: 0 auto;
    width: 95%;
    margin-bottom: 3dvh;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.12);
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5dvh;
    padding: 0.4dvh 10px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
  }
  
  nav ul li a:hover,
  nav ul li a.active {
    background-color: #003366;
  }

.autor, .contacto {
  font-size: 0.9em;
  color: #666;
  margin: 2px 0;
}

.chart-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.chart-container h3 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #b30000;
    text-align: center;
}

section {
  background: white;
  padding: 20px 25px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  margin-bottom: 25px;
}

h2 {
  color: #2a7a2a;
  margin-bottom: 15px;
  font-size: 1.6vh;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: center;
}

th {
  background-color: #e6f2e6;
  color: #2a7a2a;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f2f9f2;
}

.contacto-final {
  text-align: center;
  font-size: 0.9em;
  color: #555;
}

.contacto-final a {
  color: #2a7a2a;
  text-decoration: none;
}

.contacto-final a:hover {
  text-decoration: underline;
}

.analisis {
    font-weight: 600;
    color: #007500;
    margin-top: 5px;
    font-size: 1.4em;
  }
  
  .fuente {
    font-size: 1.4em;
    color: #ffffff;
    font-style: italic;
    margin-top: 2px;
  }
  