body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 360vh;
  width: 100%;
  max-width: 100%;
  background-color: #f0f0f0;
}

header {
  background-color: #004080;
  color: white;
  padding: 1.5dvh 0;
  text-align: center;
  font-size: 3dvh; /* más pequeño */
  font-weight: 700;
  margin-bottom: 2.5dvh;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
  letter-spacing: 0.05em;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background: #0066cc;
  padding: 10px 5px;
  margin: 0 auto;
  width: 95%;
  margin-bottom: 3dvh;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.12);
}



nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5dvh;
  padding: 0.4dvh 10px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
  background-color: #003366;
}

main {
  width: 80%;
  margin: 0 auto;
  background: white;
  padding: 3dvh 4dvh;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.12);
}

h1, h2 {
  margin-bottom: 1.5dvh;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.04em;
}

h1 {
  font-size: 2.8dvh;
  margin-top: 20px;
}

h2 {
  font-size: 2dvh;
}

p {
  margin-bottom: 1.5dvh;
  font-size: 1.8dvh;
  line-height: 1.6;
  color: #34495e;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 3dvh;
  box-shadow: 0 0 18px rgba(0,0,0,0.07);
  font-size: 1.5dvh;
}

thead {
  background-color: #004080;
  color: white;
}

thead th {
  padding: 1dvh 1.2dvh;
  text-align: left;
  font-weight: 600;
}

tbody tr:nth-child(odd) {
  background-color: #e8f0fe;
}

tbody td {
  padding: 0.8dvh 1.2dvh;
  border-bottom: 1px solid #ccc;
}

.chart-container {
  width: 100%;
  max-width: 480px;
  margin: 2.5dvh auto;
}

ul {
  list-style-type: disc;
  margin-left: 3dvh;
  margin-bottom: 2.5dvh;
  font-size: 1.8dvh;
  color: #34495e;
}

footer {
  background: linear-gradient(to right, #ff6666, #ff3333);
  color: #fff;
  text-align: center;
  padding: 0.5em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}