body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 200vh;
    width: 100%;
    background-color: #f0f0f0;
}

main {
    width: 90%;
    margin: 10px auto;
    height: 220vh;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fade-in {
    opacity: 1;
    transition: opacity 0.3s ease;
}

#popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 80%;
    height: 30vh;
    background-color: rgba(255, 255, 255, 0.95);
    color: #333;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 999;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup-slide {
    display: none;
}

.popup-slide h2 {
    font-size: 24px;
    margin-bottom: 40px;
    margin-top: 120px;
    text-align: center;
    display: flex;
    font-weight: normal;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.popup-slide p {
    font-size: 1em;
    margin-bottom: 40px;
}

#popup-container button {
    background-color: orangered;
    color: #fff;
    width: 20vh;
    height: 4vh;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#popup-container button:hover {
    background-color: #2980b9;
}

header {
    background: linear-gradient(to right, #ff6666, #ff3333);
    color: #fff;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: false;
}

h2.subtitulo {
    font-weight: normal;
    margin-top:;
}

nav {
    background-color: #ffe6e6;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav ul {
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

nav ul li {
    margin: 12px;

}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #6fb936;
}

nav li {
    margin: 20px 0; 
}

nav a {
    text-decoration: none;
    padding: 10px;
    width: 60%;
    background-color: #4CAF50;
    color: #fff;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

nav {
    animation: fadeInDown 0.5s ease;
}

#menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 240px;
    width: 100%;
}

.boton-container {
    margin-bottom: 20px;
    width: 80%;
    align-content: center;
}

.custom-button {
    padding: 20px;
    font-size: 20px;
    height: 5%;
    border: none;
    border-radius: 7px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.custom-button:hover {
    background-color: #0056b3;
}

#destacados-container {
    max-width: 90%;
    width: 90%;
    height: 50vh;
    margin: 20px auto;
    margin-top: 10px;
    margin-bottom: 100px;
}

.destacado {
    background-color: rgba(255, 102, 102, 0.8);
    color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.destacado h3 {
    margin-top: 0;
}

.destacado p {
    margin-bottom: 10px;
}

.destacado a {
    height: 15vh;
    display: inline-block;
    padding: 10px 5px;
    background-color: #ffe6e6; 
    color: #ff6666; 
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.destacado a:hover {
    background-color: #ecf0f1;
}

.button-destacado {
    display: inline-block;
    height: 2vh;
    padding: 10px 15px;
    background-color: #fff;
    color: #2ecc71; 
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-destacado:hover {
    background-color: #ecf0f1;
}


footer {
    background: linear-gradient(to right, #ff6666, #ff3333);
    color: #fff;
    text-align: center;
    padding: 0.5em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.button {
    display: inline-block;
    margin-top: 5px;
    padding: 10px 15px;
    background-color: #ff6666; 
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2980b9;
}

.card {
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h3 {
    color: #3498db;
    font-size: 24px;
}

.card p {
    color: #555;
    font-size: 18px;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #ff6666;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.card a:hover {
    background-color: #2980b9;
}

#categorias-container {
    margin: 20px auto;
    text-align: center;
    width: 100%;
}

.botones-categorias {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.boton-categoria {
    width: 70%; 
    height: 50px; 
    padding: 10px 10px; 
    background-color: rgba(255, 102, 102, 0.8);
    color: #fff;
    border: none;
    font-size: 1.5vh; 
    border-radius: 5px;
    margin: 0 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-categoria:hover {
    background-color: #3498db;
}

.opciones-categoria {
    display: none;
    position: absolute;
    flex-direction: column;
    font-size: 1.2vh; 
    align-items: center;
    width: 20%;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: lightcoral;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.opciones-categoria a {
    display: block;
    align-items: center;
    width: 17vw;
    padding: 5px;
    margin: 5px;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.opciones-categoria a:hover {
    background-color: orangered;
}

.opciones-categoria.expandido {
    display: flex !important;
    opacity: 1;
}

.fade-in {
    animation: fadeIn 0.2s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        margin: 20px 10px;
        margin-top: 10px;
        
    }

    nav li {
        margin: 20px 10px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    nav {
        flex-direction: column; 
        align-items: center; 
    }

    nav ul {
        margin-top: 10px; 
       
    }
    nav li {
        margin: 8px 0;
        font-size: 14px;
    }
}

