body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 2400px;
    background-color: #f0f0f0;
}

main {
    width: 90%;
    margin: 10px auto;
    height: 380vh;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background: linear-gradient(to right, #ff6666, #ff3333);
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

#goToTopBtn {
    position: fixed;
    bottom: 100px;
    right: 50px;
    width: 5vh;
    height: 5vh;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 9999;
}

#goToTopBtn:hover {
    background-color: #0056b3;
}

nav {
    background-color: #fff;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    padding: 10px;
    background: linear-gradient(to right, #ff6666, #ff3333);
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #45a049;
}

#mainNav button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#mainNav button:hover {
    background-color: #45a049;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#tech iframe {
    width: 100%;
    height: 600px; 
    margin-bottom: 10px;
}


.info-container {
    padding: 10px;
    background-color: #f9f9f9;
}

.space {
    height: 10px;
}

.info-container p {
    margin: 0;
    color: #333;
}

.info-container h2 {
    margin-top: 0;
    color: #4CAF50;
}

footer {
    background: linear-gradient(to right, #ff6666, #ff3333);
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
