body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 160vh;
    width: 100%;
    background-color: #f0f0f0;
}

header {
    position: relative;
    background: linear-gradient(45deg, #ff6666, #ff3333, #ff6666);
    background-size: 300% 300%;
    animation: gradientShift 10s ease infinite;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: color 0.3s ease;
    overflow: hidden;
    font-size: 2vh;
}

header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
    transition: background 0.3s ease;
}

header:hover:after {
    background: rgba(255, 255, 255, 0.1);
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes dataMove {
    0% {
        opacity: 1;
        transform: translateY(100%);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-5500%);
    }
}

.header {
    position: relative;
    overflow: hidden;
    
}

nav {
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 10px;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    padding: 8px 16px;
    background: linear-gradient(to right, #ff6666, #ff3333);
    color: #fff;
    border-radius: 8px;
    font-size: 1.4vh;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #cc0000;
}

main {
    max-width: 90%;
    margin: 30px auto;
    padding: 2em;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.report-card {
    background-color: #fff5ea;
    border-left: 5px solid #ff3333;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.report-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.report-card h3 {
    margin-bottom: 8px;
    font-size: 1.2rem;
    color: #b30000;
}

.report-card p {
    font-size: 0.95rem;
    color: #555;
}

.cotizacion h2 {
    font-size: 1.4rem;
    color: #b30000;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    flex: 1;
    background-color: #0885e438;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 51, 51, 0.1);
}

.card h3 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #d10000;
}

.card p {
    font-size: 1.3rem;
    font-weight: bold;
    color: #222;
}

.chart-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.chart-container h3 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #b30000;
    text-align: center;
}

footer {
    background: linear-gradient(to right, #ff6666, #ff3333);
    color: #fff;
    text-align: center;
    padding: 0.5em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}