body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 300vh;
    background-color: #f0f0f0;
}

header {
    background: linear-gradient(to right, #ff6666, #ff3333);
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #ffe6e6;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav ul {
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

nav ul li {
    margin: 5px;

}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #6fb936;
}

nav li {
    margin: 20px 0; 
}

nav a {
    text-decoration: none;
    padding: 10px;
    width: 60%;
    background-color: #4CAF50;
    color: #fff;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

main {
    max-width: 80%;
    margin: 20px auto;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#mainNav button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#mainNav button:hover {
    background-color: #45a049;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.info-container {
    padding: 10px;
    width: 100%;
    background-color: #f9f9f9;
}

.info-container p {
    margin: 0;
    color: #333;
}

.info-container h2 {
    margin-top: 0;
    color: #4CAF50;
}

#goToTopBtn {
    position: fixed;
    bottom: 100px;
    right: 50px;
    width: 4vh;
    height: 4vh;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 9999; /* Ajusta este valor según sea necesario */
}

#goToTopBtn:hover {
    background-color: #0056b3;
}

footer {
    background: linear-gradient(to right, #ff6666, #ff3333);
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
