body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 2000px;
    background-color: #f0f0f0;
}

main {
    max-width: 80%;
    margin: 20px auto;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background: linear-gradient(to right, #ff6666, #ff3333);
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #fff;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    padding: 10px;
    background: linear-gradient(to right, #ff6666, #ff3333);
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #45a049;
}

#mainNav button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#mainNav button:hover {
    background-color: #45a049;
}

.container iframe {
    width: 100%;
    height: 600px;
    border: 0px none;
    margin-bottom: 10px;
}


.info-container {
    padding: 10px;
    background-color: #f9f9f9;
}

.info-container p {
    margin: 0;
    color: #333;
}

.info-container h2 {
    margin-top: 0;
    color: #4CAF50;
}

#vacation-holidays iframe {
    width: 100%; /* Hace que el iframe ocupe el 100% del ancho del contenedor */
    height: 600px; /* Altura fija del iframe */
    border: 0px none;
    margin-bottom: 10px; /* Agrega espacio inferior */
}


footer {
    background: linear-gradient(to right, #ff6666, #ff3333);
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
